    <section class="review">
    <div class="container-review">
    
        <div class="slideshow-container">
        
            <!-- Full-width slides/quotes -->
            <div class="mySlides">
              <q>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</q>
              <p class="author">Emily, Los Angeles</p>
            </div>
          
            <div class="mySlides">
              <q>Ottima qualità come sempre. Era una vita che non ci tornavo ma il gelato è sempre squisito.  Peccato che in una volta non si possano assaggiare tutti i gusti!</q>
              <p class="author">Anna, Chicago</p>
            </div>
          
            <div class="mySlides">
              <q>Uno dei migliori gelati di tutta la città condotto da persone solari sorridenti e gentilissime, andateci e non rimarrete assolutamente delusi anzi!</q>
              <p class="author">Thomas, New York</p>
            </div>
          
                      <!-- Dots/bullets/indicators -->
          <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div>
    
        </div>
    
        <script src="./javascript/script.js"></script>
    </section>